@media (min-width:20em) { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:30.063em) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:40.063em) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:60.063em) { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:64.063em) { /* big landscape tablets, laptops, and desktops */
  body {
    background-color: #ECEEEF;
    margin: 0 auto;
  }

  .container {
    color: black;
    margin: 0em 3.000em;
  }

  .header {
    color: black;
    background-color: white;
    display: block;
    margin: 0em auto;
  }

  .profileIcon-container {
    padding: 1.5em 2%;
    display: block;
    margin: 0em;
  }

  img.profileIcon {
    display: block;
    margin: 0px;
    width: 2em;
    border-radius: 10%;
  }

  img.profileIcon:hover {
    opacity: 0.33;
  }
}

@media (min-width:80.063em) { /* hi-res laptops and desktops */ }
