
* {
    box-sizing: border-box;
}

body {
  background-color: #E4E4E4;
  margin: 0 auto;
}

.container {
  margin: 0em 3.000em;
}

.header {
  background-color: white;
  display: block;
  margin: 0em auto;
}

.profileIcon-container {
  padding: 2em 2%;
  display: block;
  margin: 0em;
  width: 0;
}

img.profileIcon {
  display: block;
  margin: 0px;
  width: 4em;
}

img.profileIcon:hover {
  opacity: 0.33;
}

.profileIconnohover {
  display: block;
  margin: 0px;
  width: 4em;
}

/* ======================================

    Fluid Grid System

========================================= */
.container {
        margin: 0 40px;
    }
    .row {
        margin-left: -3%;
    }
    [class*="span"] {
        display: inline;
        float: left;
        margin-left: 3%;
    }
@media only screen and (min-width: 768px) {
    .span-one-third {
        width: 30%;
    }
}
