extends layout

block content
  .container
    .row
      div#logo-frontpage
       img(src='images/logo.png', alt='RouteFinder Logo')

    .row
     div#search-form

      #use-current
       <input class="pure-button pure-button-secondary" type="submit" value="Bruk min nåværende posisjon" onClick="getLocation2()">

      form.pure-form.pure-form-stacked(name='lokasjon', action='/alt6')
       fieldset
        legend Søk
        label(for='fra') Fra
        input#fra(type='text', name='fraDest', value='halden', maxlength='100')
        label(for='til') Til
        input#til(type='text', name='tilDest', value='oslo', maxlength='100')
        input.pure-button.pure-button-primary#submit-form-front(type='submit', value='søk')


    #map-canvas
